doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title Подтверждение email
        style.
            .container { padding: 10px 50px; }

            
    body.container
        h3 Подтверждение регистрации на сайте #{domain}
        p Для завершения регистрации перейдите по ссылке:
        p
            a(href=`${protocol}://${domain}${path}/${token}`, target="_blank") Подтвердить регистрацию

        p Это письмо создано автоматически, отвечать на него не нужно