doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title Восстановление пароля
        style.
            .container { padding: 10px 50px; }

            
    body.container
        h3 Восстановление пароля на сайте #{domain}
        p Кто-то запросил сброс пароля на #{domain}, для подтверждения перейдите по ссылке:
        p
            a(href=`${protocol}://${domain}${path}/${token}`) Восстановить пароль
        
        p Если это не Вы, то проигнорируйте это письмо

        p Это письмо создано автоматически, отвечать на него не нужно